.aside {
  padding: 5px 0 0 3px;
}

.social-networks {
  display: flex;
  width: 73%;
  justify-content: space-between;
}

.aside__tags {
  margin-top: 57px;
}

.tags__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 18px;
}

.tags__tag {
  background-color: var(--color-primary);
  color: var(--light-bg-color);
  line-height: 20px;
  padding: 13px 12px;
  margin: 6px;
  letter-spacing: 1.5px;
}

.tags__cut {
  margin: 24px 0 66px;
  display: inline-block;
  color: var(--color-font-default);
}

.author__title {
  font-size: 20px;
  font-weight: 700;
}

.author__image {
  margin: 17px 0 18px;
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .aside {
    padding-top: 40px;
    text-align: center;
  }

  .social-networks {
    max-width: 270px;
    margin: 0 auto;
  }

  .aside__tags {
    margin-top: 33px;
  }

  .tags__cut {
    margin-bottom: 33px;
  }

  .author__about {
    margin: 5px 0 40px;
  }
}
