.aside {
  padding: 5px 0 0 3px;
}

.social-networks {
  width: 73%;
  margin-left: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-networks__item svg path {
  transition: all 200ms;
}

.social-networks__item:hover svg path {
  fill: var(--color-primary-hovered);
}

.aside__tags {
  margin-top: 55px;
}

.tags__title {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 20px;
}

.tags__tag {
  margin: 6px;
  padding: 13px;
  background-color: var(--color-primary);
  color: var(--light-bg-color);
  line-height: 20px;
  letter-spacing: 1.5px;
  transition: background-color 150ms;
}

.tags__tag:hover {
  background-color: var(--color-primary-hovered);
}

.tags__list {
  margin-left: -2px;
}

.tags__cut {
  margin: 22px 0 66px;
  display: inline-block;
  color: var(--color-font-default);
  transition: color 100ms;
}

.tags__cut:hover {
  color: var(--color-primary-hovered);
}

.author__title {
  font-size: 20px;
  font-weight: 700;
}

.author__image {
  max-width: 100%;
  margin: 17px 0 18px;
}

.author__about {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 1200px) {
  .aside {
    padding-top: 40px;
    text-align: center;
  }

  .social-networks {
    max-width: 270px;
    margin: 0 auto;
  }

  .aside__tags {
    margin-top: 33px;
  }

  .tags__cut {
    margin-bottom: 33px;
  }

  .author__about {
    margin: 5px 0 40px;
  }
}
