.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../src/img/anons.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.page__banner {
  height: 595px;
  margin: 38px 48px;
}

.promo {
  text-align: center;
  background-color: var(--transparent-bg-color);
}

.banner__promo {
  max-width: 723px;
  margin: 0 30px;
  padding: 61px 87px 56px 91px;
}

.promo__title {
  max-width: 406px;
  margin: auto;
  font-size: 28px;
}

.promo__description {
  margin: 26px 0 42px 0;
  font-size: 18px;
}

.promo__button {
  height: 55px;
  padding-left: 63px;
  padding-right: 60px;
}

@media screen and (max-width: 1050px) {
  .banner__promo {
    padding: 39px 57px;
  }
}

@media screen and (max-width: 1050px) {
  .banner__promo {
    padding: 39px 57px;
  }
}

@media screen and (max-width: 768px) {
  .promo__title {
    font-size: 23px;
  }

  .promo__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .banner__promo {
    padding-right: 20px;
    padding-left: 20px;
  }

  .page__banner {
    height: 395px;
    margin: 23px 28px;
  }

  .promo__title {
    font-size: 21px;
  }

  .promo__description {
    font-size: 14px;
  }

  .promo__button {
    padding-left: 36px;
    padding-right: 36px;
  }
}
