.blog {
  padding: 26px 137px 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr, auto;
  grid-column-gap: 40px;
  grid-row-gap: 80px;
}

.pagination {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (max-width: 1200px) {
  .blog {
    padding-right: 48px;
    padding-left: 48px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1050px) {
  .blog {
    display: flex;
    flex-direction: column;
    grid-row-gap: 30px;
  }

  .posts {
    order: 1;
  }

  .pagination {
    order: 2;
  }

  .aside {
    order: 3;
  }
}

@media screen and (max-width: 600px) {
  .blog {
    padding-right: 28px;
    padding-left: 28px;
  }
}
