.nav__burger {
  position: absolute;
  right: 0;
  z-index: 2;
  height: 27px;
  width: 27px;
  margin: 21px 0 21px 21px;
  overflow: visible;
  display: none;
  cursor: pointer;
}

.nav__burger-icon,
.nav__burger-icon::before,
.nav__burger-icon::after {
  position: absolute;
  height: 4px;
  display: none;
  opacity: 1;
  background: var(--color-primary);
  transition: 0.3s ease-in-out;
}

.nav__burger-icon::before,
.nav__burger-icon::after {
  content: "";
}

.nav__burger-icon {
  right: 0px;
  top: 13px;
  width: 27px;
}

.nav__burger-icon:before {
  right: 0px;
  top: -10px;
  width: 16px;
}

.nav__burger-icon:after {
  right: 0px;
  top: 10px;
  width: 20px;
}

.nav__burger.close .nav__burger-icon,
.nav__burger.close .nav__burger-icon::before,
.nav__burger.close .nav__burger-icon::after {
  background: var(--form-bg-color);
}

.nav__burger.close .nav__burger-icon {
  top: 13px;
  transform: rotate(-45deg);
  width: 27px;
}

.nav__burger.close .nav__burger-icon:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}

.nav__burger.close .nav__burger-icon:after {
  top: 0px;
  left: 0;
  width: 0;
  transform: rotate(90deg);
  opacity: 0;
}

.nav__burger-menu {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1;
  min-width: 50%;
  min-height: 100%;
  height: 0;
  padding-top: 20px;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.nav__burger-menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.7);
}

.nav__mobile-item {
  list-style: none;
}

.nav__link_mobile {
  margin-bottom: 30px;
  display: block;
  color: var(--form-bg-color);
  font-size: 32px;
  text-decoration: none;
}

.nav__link_mobile_active {
  font-weight: 800;
  color: var(--color-primary);
}

@media screen and (max-width: 1050px) {
  .nav__burger {
    display: block;
  }

  .nav__burger-icon,
  .nav__burger-icon::before,
  .nav__burger-icon::after {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .nav__burger {
    margin-top: 16px;
    margin-bottom: 17px;
  }
}

@media screen and (max-width: 550px) {
  .nav__burger-menu {
    left: 30%;
    min-width: 70%;
  }
}

@media screen and (max-width: 455px) {
  .nav__burger {
    margin-top: 32px;
  }
}
