.pagination {
  margin: 1px auto 96px;
}

.pagination__button {
  letter-spacing: 1.5px;
  color: var(--color-font-default);
  margin: 0 7px;
  background-color: transparent;
  padding: 3px 8px;
}

.pagination__icon {
  margin: 0 16px;
}

.pagination__button_active {
  background-color: var(--color-primary);
  color: var(--light-bg-color);
}

@media screen and (max-width: 1050px) {
	.pagination {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 768px) {
	.pagination {
		margin-bottom: 0;
	}
	.pagination__button {
		margin: 0 3px;
	}
}