@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Mulish:ital,wght@0,400;0,600;0,800;1,400&display=swap");

@import url("header.css");
@import url("banner.css");
@import url("blog.css");
@import url("posts.css");
@import url("aside.css");
@import url("pagination.css");
@import url("form.css");
@import url("footer.css");
@import url("burger.css");

:root {
  --color-primary: #3d8b74;
  --color-primary-hovered: #40a385;
  --color-font-default: #232323;
  --color-font-secondary: #818181;
  --main-bg-color: #f5f5f5;
  --form-bg-color: #e2eeea;
  --light-bg-color: #ffffff;
  --transparent-bg-color: rgba(255, 255, 255, 0.65);
  --dark-bg-color: #323232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

small {
  font-size: inherit;
}

button {
  border: none;
  font: inherit;
  cursor: pointer;
}

.page {
  background-color: var(--main-bg-color);
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: var(--color-font-default);
  letter-spacing: 1.5px;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  color: var(--color-font-default);
  line-height: 1;
}

.button {
  position: relative;
  padding-top: 21px;
  padding-bottom: 14px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--light-bg-color);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.5px;
  transition: all 0.35s;
}

.button__text {
  position: relative;
  z-index: 2;
}

.button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--form-bg-color);
  transition: all 0.35s;
}

.button:hover {
  color: var(--color-primary);
}

.button:hover:after {
  width: 100%;
}

.button:active {
  padding-top: 17px;
  font-size: larger;
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .page {
    font-size: 14px;
  }

  .button {
    padding-top: 15px;
    font-size: 13px;
  }
}
